@font-face {
  /* font-family: "Source Code"; */
  /* src: url("../font/SourceCodePro-Regular.otf"); */
}

body {
  padding: 1.5em;
}

.topcoat-range {
  vertical-align: middle;
}

.topcoat-text-input {
  vertical-align: middle;
}

.topcoat-button {
  width: 15em;
}

.topcoat-range {
  width: 90%;
}
div#center {
  width: 100%;
  text-align: center;
  /* background-color: #f00; */
}

table {
  width: 80%;
  margin: 1em auto;
}

.foo.topcoat-checkbox {
  width: 20em;
  /* background-color: #B0B6B6; */
}

.topcoat-checkbox__checkmark {
  float: left;
}
