@font-face {
  /* font-family: "Source Code"; */
  /* src: url("../font/SourceCodePro-Regular.otf"); */
}

body {
  padding: 1.5em;
}

.topcoat-range {
  vertical-align: middle;
}

.topcoat-text-input {
  vertical-align: middle;
}

.topcoat-button {
  width: 15em;
}

div#center {
  width: 100%;
  text-align: center;
}

table {
  margin: 1em auto;
}
